Flow2.txt
[{"id":"72eece8d.9f3fb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c09d1b01.8b18e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fd22fbfd.812038","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8fdb9598.029df8","type":"rpi-gpio out","z":"72eece8d.9f3fb","name":"Led","pin":"12","set":"","level":"0","freq":"","out":"out","x":560,"y":220,"wires":[]},{"id":"a453643.ed6d398","type":"inject","z":"72eece8d.9f3fb","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":60,"wires":[["8fdb9598.029df8","bf0f463f.c86d28"]]},{"id":"965f901d.e3342","type":"inject","z":"72eece8d.9f3fb","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":120,"wires":[["8fdb9598.029df8","bf0f463f.c86d28"]]},{"id":"bf0f463f.c86d28","type":"debug","z":"72eece8d.9f3fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":140,"wires":[]},{"id":"1d0c8133.e8894f","type":"rpi-gpio in","z":"72eece8d.9f3fb","name":"Button","pin":"16","intype":"up","debounce":"25","read":false,"x":50,"y":260,"wires":[["bf0f463f.c86d28","79af24f2.f0064c"]]},{"id":"79af24f2.f0064c","type":"switch","z":"72eece8d.9f3fb","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":300,"wires":[["c1e2a715.ca3978"],["1d9b5be7.7611d4"]]},{"id":"c1e2a715.ca3978","type":"change","z":"72eece8d.9f3fb","name":"Change 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["8fdb9598.029df8"]]},{"id":"1d9b5be7.7611d4","type":"change","z":"72eece8d.9f3fb","name":"Change 1 ","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["8fdb9598.029df8"]]},{"id":"a0f57652.200808","type":"inject","z":"fd22fbfd.812038","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"0.5","x":110,"y":220,"wires":[["3ddd992b.f8aea6"]]},{"id":"32439c21.36e624","type":"http request","z":"fd22fbfd.812038","name":"","method":"GET","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DW823zSR/datachannels/Temperature_1/datapoints.csv","tls":"","x":430,"y":220,"wires":[["565cd32f.5f19dc","aa7c0202.4baf3"]]},{"id":"3ddd992b.f8aea6","type":"function","z":"fd22fbfd.812038","name":"Payload","func":"msg.headers = {\n    deviceKey:\"x5VKTgqyUl975aoC\"\n};\nmsg.payload = \"Temperature_1,,25\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["32439c21.36e624"]]},{"id":"565cd32f.5f19dc","type":"http response","z":"fd22fbfd.812038","name":"","statusCode":"","headers":{},"x":590,"y":200,"wires":[]},{"id":"aa7c0202.4baf3","type":"debug","z":"fd22fbfd.812038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":280,"wires":[]}]