Flow1.txt
[{"id":"1d0c8133.e8894f","type":"rpi-gpio in","z":"72eece8d.9f3fb","name":"Button","pin":"16","intype":"up","debounce":"25","read":false,"x":50,"y":260,"wires":[["bf0f463f.c86d28","79af24f2.f0064c"]]},{"id":"79af24f2.f0064c","type":"switch","z":"72eece8d.9f3fb","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":300,"wires":[["c1e2a715.ca3978"],["1d9b5be7.7611d4"]]},{"id":"1d9b5be7.7611d4","type":"change","z":"72eece8d.9f3fb","name":"Change 1 ","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["8fdb9598.029df8"]]},{"id":"c1e2a715.ca3978","type":"change","z":"72eece8d.9f3fb","name":"Change 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["8fdb9598.029df8"]]},{"id":"8fdb9598.029df8","type":"rpi-gpio out","z":"72eece8d.9f3fb","name":"Led","pin":"12","set":"","level":"0","freq":"","out":"out","x":560,"y":220,"wires":[]},{"id":"bf0f463f.c86d28","type":"debug","z":"72eece8d.9f3fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":140,"wires":[]}]